<div class="card p-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Studenet Details</h5>
  </div>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit(updateForm.value)">
    <div class="form-group">
      <label for="exampleInputName1">Name</label>
      <input
        type="name"
        class="form-control"
        id="exampleInputName1"
        aria-describedby="nameHelp"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label>Gender</label>
      <input type="name" class="form-control" formControlName="gender" />
    </div>
    <div class="form-group">
      <label>Mark</label>
      <input type="number" class="form-control" formControlName="mark" />
    </div>
    <div class="form-group mb-2">
      <label>Birthdate</label>
      <input type="date" class="form-control" formControlName="birthDate" />
    </div>
    <div class="alert alert-success" role="alert" *ngIf="resMsg">
      {{ resMsg }}
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
