<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="p-5">
    <form
      [formGroup]="createForm"
      (ngSubmit)="onSubmit(createForm.value)"
      class="w-25"
    >
      <div class="form-group">
        <label for="exampleInputName1">First Name</label>
        <input
          type="name"
          class="form-control"
          id="exampleInputName1"
          aria-describedby="nameHelp"
          formControlName="firstName"
        />
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <input type="name" class="form-control" formControlName="lastName" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>
      <div class="alert alert-success" role="alert" *ngIf="resMsg">
        {{ resMsg }}
      </div>

      <button type="submit" class="btn btn-primary mt-3">Add Professor</button>
    </form>
  </body>
</html>
